CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.vs
/out/build
.vshistory/
/LivingPaintings/resources/models/sam_hq_preprocess.onnx
/LivingPaintings/resources/models/sam_hq_vit_h.onnx
/LivingPaintings/resources/models/sam_preprocess.onnx
/LivingPaintings/resources/models/sam_vit_h_4b8939.onnx
