CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.vs
/LivingPaintings/resources/shaders/.vshistory
/LivingPaintings/src/vulkan/.vshistory
/out/build
/.vshistory/vcpkg.json
/LivingPaintings/.vshistory/CMakeLists.txt
/LivingPaintings/src/.vshistory/LivingPaintings.cpp
/LivingPaintings/src/segmentation/.vshistory
/LivingPaintings/resources/textures/.vshistory/abstract-2341349_1920.jpg
